<div class="panel-box">
    <div class="titles">
        <h4>{{ orderwidget.entete }}</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ orderwidget.contenu | raw }}
        </div>
    </div>
</div>