<div class="panel-box">
    <div class="titles">
        <h4>Derniers albums photo</h4>
    </div>
    <!-- Locations Carousel --> 
    <ul class="single-carousel">
        {% for album in lastalbums %}
        <li>
            <img src="{{ album.getFirstPhoto() }}" alt="" class="img-responsive">
            <div class="info-single-carousel">
                <h4><a href="{{ path('albumPhoto', {'albumPhoto': album.id}) }}">{{ album.title }}</a></h4>
                <p>{{ album.description }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
    <!-- Locations Carousel -->                                
</div>